.title-form {
    border: none;
    outline: none;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    padding: 10px 10px 10px 10px;
    background-color: #F4F5F7;
    height: 50px;
    spellcheck: false;

}

.textarea-container {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px 10px 20px 10px;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
}

.text-area-form {
    border: none;
    outline: none;
    background-color: #F4F5F7;
    height: 300px;
    overflow: hidden;
    resize: none;
}

.layout-title-container {
    margin-bottom: 10px;
}

.create-button-container {
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    justify-content: center;
}
.create-button-container input {
    width: 350px;
}