.align-center-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.align-right-container {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.align-row-container {
    display: flex;
    flex-direction: row;
}

.align-column-container {
    display: flex;
    flex-direction: column;
}