<div class="layout-container">
    <div class="layout-header">
        <h2>로그인</h2>
    </div>
    <div class="layout-main-container">
        <form method="get" action="/posts.html" class="layout-form">
            <div class="layout-title-container">
                <label for="email">이메일</label>
            </div>
            <div class="layout-input-container">
                <input id="email" type="text" name="email" placeholder="이메일을 입력하세요" class="email-form layout-input">
            </div>
            <div class="email-validation-container layout-validation-container validation-font">
                *올바른 이메일 주소 형식을 입력해주세요
            </div>
            <div class="layout-title-container">
                <label for="password">비밀번호</label>
            </div>
            <div class="layout-input-container">
                <input id="password" type="password" name="password" placeholder="비밀번호를 입력하세요" class="password-form layout-input">
            </div>
            <div class="password-validation-container layout-validation-container validation-font">
                *비밀번호를 입력해주세요
            </div>
            <div class="login-button-container layout-input-container">
                <input id="submit" type="submit" value="로그인" class="button-disable layout-input">
            </div>
        </form>
    </div>
    <div class="align-center-container">
        <a href="/sign-up.html">회원가입</a>
    </div>
</div>