<div class="layout-container">
    <div class="post-header">
        <div class="post-header-title">
        </div>
        <div class="post-header-meta">
            <div class="align-row-container">
                <div class="post-header-meta-profile"></div>
                <div class="post-header-meta-writer"></div>
                <div class="align-center-container"></div>
            </div>
            <div>
                <div class="align-center-container">
                    <button class="update-button post-header-meta-button" onclick="location.href='./update-post.html'">
                        수정
                    </button>
                    <button class="delete-button post-header-meta-button">삭제</button>
                </div>
            </div>
        </div>
    </div>
    <div class="post-body">
        <img class="post-body-image"></img>
        <div class="post-body-main"></div>
        <div class="align-center-container">
            <button class="post-meta-likes-disable">
                <div class="post-meta-likes-number post-meta-number">0</div>
                <div class="post-meta-description">좋아요수</div>
            </button>
            <button class="post-meta-button">
                <div class="post-meta-number">0</div>
                <div class="post-meta-description">조회수</div>
            </button>
            <button class="post-meta-button">
                <div class="post-meta-number">0</div>
                <div class="post-meta-description">댓글</div>
            </button>
        </div>
    </div>
    <form class="post-comment-form">
        <textarea placeholder="댓글을 남겨주세요!" class="post-comment-form-textarea"></textarea>
        <div class="align-right-container">
            <input type="submit" value="댓글 등록" class="post-comment-form-button button-disable">
        </div>
    </form>
    <div class="align-column-container">
    </div>
</div>

<div class="modal post-modal">
    <div class="modal_popup post-modal_popup">
        <div class="popup-title-container post-popup-tile-container">
            <div class="popup-title post-popup-title">게시글을 삭제하시겠습니까?</div>
        </div>
        <div class="popup-description-container post-popup-description-container">
            <div>
                삭제한 내용은 복구 할 수 없습니다.
            </div>
        </div>
        <div class="popup-buttons-container post-popup-buttons-container">
            <div class="drop-popup-buttons post-drop-popup-buttons">
                <button type="button" class="close_btn post-close_btn">취소</button>
                <button type="button" class="confirm_btn post-confirm_btn">확인</button>
            </div>
        </div>
    </div>
</div>

<div class="modal comment-modal">
    <div class="modal_popup comment-modal_popup">
        <div class="popup-title-container comment-popup-tile-container">
            <div class="popup-title comment-popup-title">댓글을 삭제하시겠습니까?</div>
        </div>
        <div class="popup-description-container comment-popup-description-container">
            <div>
                삭제한 내용은 복구 할 수 없습니다.
            </div>
        </div>
        <div class="popup-buttons-container comment-popup-buttons-container">
            <div class="drop-popup-buttons comment-drop-popup-buttons">
                <button type="button" class="close_btn comment-close_btn">취소</button>
                <button type="button" class="confirm_btn comment-confirm_btn">확인</button>
            </div>
        </div>
    </div>
</div>