<div class="layout-container">
    <div class="posts-header-container">
        <div>
            <h2 class="align-center-container posts-header-element">안녕하세요</h2>
            <h2 class="align-center-container posts-header-element">아무 말 대잔치
                <span style="font-weight: bold">&nbsp;게시판&nbsp;</span> 입니다.</h2>
        </div>
    </div>
    <div class="align-right-container">
        <a href="./add-post.html">
            <button class="button-disable post-create-button">게시글 작성</button>
        </a>
    </div>
    <div class="layout-main-container"></div>
</div>