<div class="layout-container">
    <div class="layout-header">
        <h2>회원가입</h2>
    </div>
    <div>
        <div class="layout-title-container">
            프로필 사진
        </div>
        <div class="profile-validation-container layout-validation-container validation-font">
            *프로필 사진을 추가해주세요.
        </div>
        <div class="align-center-container">
            <label for="file">
                <div class="profile-upload-button">
                    <div class="plus-font">+</div>
                </div>
            </label>
            <input type="file" id="file"/>
        </div>
    </div>
    <div class="layout-main-container">
        <form method="get" action="/login.html" class="layout-form">
            <div class="email-title-container layout-title-container">
                <label for="email">이메일*</label>
            </div>
            <div class="layout-input-container">
                <input id="email" type="text" name="email" placeholder="이메일을 입력하세요" class="email-form layout-input">
            </div>
            <div class="email-validation-container layout-validation-container validation-font">
                *이메일을 입력해주세요.
            </div>
            <div class="layout-title-container">
                <label for="password">비밀번호*</label>
            </div>
            <div class="layout-input-container">
                <input id="password" type="password" name="password" placeholder="비밀번호를 입력하세요" class="password-form layout-input">
            </div>
            <div class="password-validation-container layout-validation-container validation-font">
                *비밀번호를 입력해주세요
            </div>
            <div class="layout-title-container">
                <label for="password-confirm">비밀번호 확인*</label>
            </div>
            <div class="layout-input-container">
                <input id="password-confirm" type="password" name="password-confirm" placeholder="비밀번호를 한번 더 입력하세요" class="password-confirm-form layout-input">
            </div>
            <div class="password-confirm-validation-container layout-validation-container validation-font">
                *비밀번호를 한번 더 입력해주세요
            </div>
            <div class="layout-title-container">
                <label for="nickname">닉네임*</label>
            </div>
            <div class="layout-input-container">
                <input id="nickname" type="text" name="nickname" placeholder="닉네임을 입력하세요" class="nickname-form layout-input">
            </div>
            <div class="nickname-validation-container layout-validation-container validation-font">
                *닉네임을 입력해주세요
            </div>
            <div class="button-container layout-input-container">
                <input id="submit" type="submit" value="회원가입" class="button-disable layout-input">
            </div>
        </form>
    </div>
    <div class="align-center-container">
        <a href="/login.html">로그인하러 가기</a>
    </div>
</div>