<div class="layout-container">
    <div class="layout-header">
        <h2>회원정보수정</h2>
    </div>
    <div>
        <div class="layout-title-container">
            프로필 사진*
        </div>
        <div class="align-center-container">
            <label for="file">
                <div class="profile-upload-button">
                    <div class="plus-font"></div>
                </div>
            </label>
            <input type="file" id="file"/>
        </div>
    </div>
    <div class="layout-main-container">
        <form method="get" action="/login.html" class="update-member-form layout-form">
            <div class="layout-title-container">
                <label for="email">이메일*</label>
            </div>
            <div class="layout-input-container">
                <div id="email" class="email-form">
                    startupcode@gmail.com
                </div>
            </div>
            <div class="layout-title-container">
                <label for="nickname">닉네임*</label>
            </div>
            <div class="layout-input-container">
                <input id="nickname" type="text" name="nickname" placeholder="닉네임을 입력하세요" class="nickname-form layout-input">
            </div>
            <div class="nickname-validation-container layout-validation-container validation-font">
            </div>
            <div class="button-container layout-input-container">
                <input id="submit" type="submit" value="수정하기" class="button-disable layout-input">
            </div>
        </form>
    </div>
    <div class="align-center-container">
        <a href="/login.html" class="drop-member-button">회원 탈퇴</a>
    </div>
    <div id="tost_message">수정 완료!</div>
</div>

<div class="modal">
    <div class="modal_popup">
        <div class="popup-title-container">
            <div class="popup-title">회원탈퇴 하시겠습니까?</div>
        </div>
        <div class="popup-description-container">
            <div>
                작성된 게시글과 댓글은 삭제됩니다.
            </div>
        </div>
        <div class="popup-buttons-container">
            <div class="drop-popup-buttons">
                <button type="button" class="close_btn">취소</button>
                <button type="button" class="confirm_btn">확인</button>
            </div>
        </div>
    </div>
</div>