<div class="layout-container">
    <div class="layout-header">
        <h2>비밀번호 수정</h2>
    </div>
    <div class="layout-main-container">
        <form method="get" action="/login.html" class="update-password-form layout-form">
            <div class="layout-title-container">
                <label for="password">비밀번호</label>
            </div>
            <div class="layout-input-container">
                <input id="password" type="password" name="password" placeholder="비밀번호를 입력하세요" class="password-form layout-input">
            </div>
            <div class="password-validation-container layout-validation-container validation-font">
                *비밀번호를 입력해주세요
            </div>
            <div class="layout-title-container">
                <label for="password-confirm">비밀번호 확인</label>
            </div>
            <div class="layout-input-container">
                <input id="password-confirm" type="password" name="password-confirm" placeholder="비밀번호를 한번 더 입력하세요" class="password-confirm-form layout-input">
            </div>
            <div class="password-confirm-validation-container layout-validation-container validation-font">
                *비밀번호를 한번 더 입력해주세요
            </div>
            <div class="button-container layout-input-container">
                <input id="submit" type="submit" value="수정하기" class="button-disable layout-input">
            </div>
        </form>
    </div>
    <div id="tost_message">수정 완료!</div>
</div>