<div class="header-container">
    <div class="header-main">
        <div class="header-back">
            <div style="cursor:pointer;">
                <
            </div>
        </div>
        <div class="header-profile"></div>
        <ul class="drop-down">
            <li><a href="./update-member.html" class="drop-down-container">회원정보수정</a></li>
            <li><a href="./update-password.html" class="drop-down-container">비밀번호수정</a></li>
            <li><a href="./login.html" class="drop-down-container drop-down-logout">로그아웃</a></li>
        </ul>
        <h2>아무 말 대잔치</h2>
    </div>
</div>